<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
	  
<h:head>
<title>Bienvenido</title>
</h:head>
<h:body>
	<ui:composition template="/WEB-INF/template_bienvenido.xhtml">
	  	<ui:define name="content">
	  
			<h:form>
			 <p:messages id="messages" showDetail="true" autoUpdate="true" />
		 		<p:commandButton class="botonCerrar" value="Cerrar" action="#{loginBean.cerrar()}"></p:commandButton>
				</h:form>
				<center>	
				<br
				
				
				/>
					<p:growl id="growl" showDetail="true"/>
						</center>
					<h:form id="fDataTable">
					<h1>Hola: <h:outputText value="#{loginBean.nombre}"></h:outputText></h1>
					  	
			<p:commandButton style="background-color:blue;" value="Add +" onclick="PF('dlgRegister').show();" update="" actionListener="celularBean.limpiar()" />
			
				<div class="tablaCelular">
				<p:dataTable var="celular" value="#{celularBean.celularList(loginBean.nombre)}">
				    <p:column headerText="Id">
				        <h:outputText value="#{celular.id}" />
				    </p:column>
				 
				    <p:column headerText="Nombre">
				        <h:outputText value="#{celular.nombre}" />
				    </p:column>
				 
				    <p:column headerText="Precio">
				        <h:outputText value="#{celular.precio}" />
				    </p:column>
		    		<p:column width="183">
        				<p:commandButton style="background-color:red;" actionListener="#{celularBean.deleteCelular(celular.getId())}" update="fDataTable" value="Delete" ></p:commandButton>
        				<p:commandButton style="background-color:green;" value="Details" action="#{celularBean.detailsPage(celular.getId())}"></p:commandButton>
    				</p:column>
			
				</p:dataTable>
			
				
					  			
	  				<p:dialog id="dialog" header="Detalle del Celular" widgetVar="dlgDetails" minHeight="40" modal="true" showEffect="size" hideEffect="size"
	  					width="463" height="250">
	  					<h:panelGrid>
	  					<h2>Nombre: <h:outputText value="#{celularBean.nombre}"></h:outputText></h2>
					  	
					  	<h2>Precio: <h:outputText value="#{celularBean.precio}"></h:outputText></h2>
	 					</h:panelGrid>
					</p:dialog>
					</div>
			</h:form>
			
			<h:form id="fRegistro">
	  			
	  				<p:dialog id="dialog" header="New product" widgetVar="dlgRegister" minHeight="40" modal="true" showEffect="size" hideEffect="size"
	  					width="463" height="250">
	  					<h:panelGrid>
	  					<p:outputLabel value="Name: "></p:outputLabel>
					  	
					  	<p:inputText value="#{celularBean.nombre}" size="50" required="true" requiredMessage="you need to put a name"></p:inputText>
					  	
					  	<p:outputLabel value="Price: "></p:outputLabel>
					  	
					  	<p:inputText value="#{celularBean.precio}" size="50" required="true" requiredMessage="you need to put a price"></p:inputText>
	 					
	 					<p:commandButton styleClass="save" value="Save" actionListener="#{celularBean.nuevoCelular(usuario.getId())}" update="growl fDataTable"/>
	 					</h:panelGrid>
					</p:dialog>
	  			</h:form>
		</ui:define>
	 </ui:composition>	
	  	
	  	 </h:body>
</html>