<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
	  
	<h:head>
		<title>Detail</title>
	</h:head>
	
	<h:body>
		<h:form>
		<h2>Nombre:	<h:outputText value="#{celularBean.nombre}"></h:outputText></h2>
		<h2>Precio: <h:outputText value="#{celularBean.precio}"></h:outputText></h2>
		<p:commandButton style="background-color:yellow;" value="Volver" action="#{celularBean.volver()}"></p:commandButton>		
		</h:form>

	</h:body>
</html>