<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
	  
	  <h:head>
	  	<title>Registrar</title>
	  </h:head>
	  <h:body>
	  <h:form id="registrer">
	  	<p:commandButton value="Volver" action="#{registroBean.volver()}"></p:commandButton>
	  	
	  <center>	  		
	  <div>
	  		 <p:messages id="messages" showDetail="true" autoUpdate="true" />
	  		<h:panelGrid columns="2" cellspacing="20px">		
	 			 <f:facet name="header">
	 			 	<h1>Register Here</h1>
	 			 </f:facet>
	 		 	
	 		 		<p:outputLabel>User name:</p:outputLabel>
	 		 		<p:inputText id="Nombre" value="#{registroBean.nombre}" />
	 		 		
	 		 		<p:outputLabel>New password:</p:outputLabel>
			 		<p:password id="Clave1" value="#{registroBean.clave}"/>
	 				
	 		 		<p:outputLabel>Repeat password:</p:outputLabel>
	 		 		<p:password id="Clave2" styleClass="inputs" value="#{registroBean.clave2}"/>
	 		
	 		</h:panelGrid>
	 		 <div>
	  			<p:commandButton id="Button" styleClass="button" value= "Save" action="#{registroBean.registrarUsuario()}" />
	  		</div> 
	  		
	  </div>
	  </center>
	  </h:form>      
	 
	  </h:body>
</html>
