<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
	  
	  <h:head>
	  	<title>Login</title>
	  </h:head>
	  <h:body>5
	  <ui:composition template="/WEB-INF/template_inicio.xhtml">
	  	<ui:define name="content">
	  <center>	  		
	  <h:form>
	   <p:messages id="messages" showDetail="true" autoUpdate="true" />
	 	
	 	<h:panelGrid columns="2" cellspacing="20px">		
	 		
	 		<f:facet name="header">
	 			<h1>Login here</h1>
	 		</f:facet>
	 		<p:outputLabel>Usuario:</p:outputLabel>
	 		<p:inputText value="#{loginBean.nombre}"></p:inputText>
		 
		 	<p:outputLabel>Clave:</p:outputLabel>
		 	<p:password value="#{loginBean.clave}"></p:password>
	 	 </h:panelGrid>
	  <div class="botonIngresar">
	  	<p:commandButton id="ingresarBtn" value= "ingresar" action="#{loginBean.login()}"/>
	  </div>
	  </h:form>
	  <br
	  
	  />
	  <h:form>
	  	<div class="botonRegistrar">
	  		<p:commandButton id="registroBtn" value="Registrar" action="#{loginBean.volver()}"></p:commandButton>
	  	</div>
	  </h:form>
	  </center>
	 
	  </ui:define>
	  </ui:composition>
	  </h:body>
	  </html>
