<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  xmlns:h="http://java.sun.com/jsf/html">
	  <h:head>
	  	<title>Bienvenido</title>
	  	<f:event listener="#{loginBean.verificarSession()}" type="preRenderView"></f:event>
	  </h:head>
	  
	  <h:body>
	  		<ui:insert name="header"></ui:insert>
	  
	  <ui:insert name = "content">
	  </ui:insert>
	  
	  </h:body>
	  </html>